body {
    font-family: Arial, sans-serif;
}

#main {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

#todo {
    list-style-type: none;
    padding: 0;
}

#todo li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}